@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
    --font-body: "Inter", sans-serif;
    --color-pdj-blue: #0051e7;
    --color-pdj-cyan: #1C9CAF;
    --color-pdj-lemon: #CDBD56;
    --color-pdj-mustard: #E9BE6A;
    --color-pdj-orange: #F29130;
}



